---
import BaseLayout from '../layouts/BaseLayout.astro';
import PostCard from '../components/PostCard.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog'))
  .sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());
---

<BaseLayout title="Greg Caban">
  <div class="index-content framed">
    <p>
      Welcome to my Dev blog, my name is Greg Caban and I post mainly about compilers, programming languages, runtimes, dev tools or infrastructure and anything else I'm currently working on.
    </p>
  </div>

  <div class="posts">
    {posts.map((post) => <PostCard post={post} />)}
  </div>
</BaseLayout>
